// PRIMARY COLORS
$GrayishBlue: #8486a9;
$SoftRed: #fb6087;

// NEUTRAL
$White: #fff;

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.main-countdown {
	align-items: center;
 
	background-position: bottom;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	max-width: 1440px;
	position: relative;
	.container-countdown {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		box-sizing: border-box;
		gap: 2rem;
	}
	.countdown-block {
		align-items: center;
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: 15px;
		&:last-child {
			margin-right: 0;
		}
		.subtitle {
			color: $GrayishBlue;
		}
	}
	.time-element {
		background-color: white;
		border-radius: 8px;
		box-shadow: 0px 8px 0px 0px #eee;
		color: $SoftRed;
		font-size: 5.5em;
		height: 140px;
		line-height: 138px;
		margin-bottom: 27px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 150px;
		
		&::before,
		&::after { 
			background: pink;
			border-radius: 50%;
			content: "";
			height: 10px;
			position: absolute;
			top: calc(50% - 5px);
			width: 10px;
			z-index: 6;
		}
		&::before {
			left: -5px;
		}
		&::after {
			right: -5px;
		}
		> span {
			left: 0;
			position: absolute;
			right: 0;
		}
		.top {
			background-color: #eee;
			transform-origin: 50% 100%;
			transform: perspective(200px);
			z-index: 3;
		}
		.top::after,
		.bottom-back::after {
			border-bottom: 1px solid hsl(0, 0%, 100%);
			bottom: 0;
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
		.bottom {
			z-index: 1;
			&::before {
				background-color: white;
				content: "";
				display: block;
				height: 50%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
		.bottom-back {
			background-color: white;
			height: 50%;
			overflow: hidden;
			top: 0;
			z-index: 2;
			span {
				bottom: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.top,
		.top-back {
			backface-visibility: hidden;
			height: 50%;
			overflow: hidden;
		}
		.top-back {
			background-color: #eee;
			bottom: 0;
			transform-origin: 50% 0;
			transform: perspective(200px) rotateX(180deg);
			z-index: 4;
			span {
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				top: -100%;
			}
		}
	}
	 
}

@media only screen and (max-width: 768px) {
	.main-countdown .container-countdown {
		grid-template-columns: 1fr 1fr;
	}
}
