.sakura {
  pointer-events: none;
  position: absolute;
  background: #fb6087;
}

body {
  font-family: "Comfortaa", serif;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

body img {
  max-width: 100%;
  height: auto;
}

body .page-main .top-right-decoration {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

body .page-main .top-left-decoration {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

body .page-main .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .page-main .wrap .title-group {
  position: relative;
  width: 350px;
  height: 350px;
  padding: 90px;
  margin: auto;
}

body .page-main .wrap .title-group h1 {
  font-family: "Italianno", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 70px;
  margin: 16px 0;
  color: #fb6087;
  line-height: 0.7em;
}

body .page-main .wrap .title-group h2 {
  font-family: "Italianno", cursive;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: #e25c67;
  line-height: 1;
}

body .page-main .wrap .title-group::after {
  content: "";
  position: absolute;
  background-image: url("../assets/img/flower2.png");
  top: 0;
  left: 0;
  background-size: contain;
  width: 100%;
  height: 100%;
}

body .page-main .wrap .title {
  margin-top: 4rem;
  margin-bottom: 10px;
}

body .page-main .wrap .title h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  color: #fb6087;
  margin-top: 5px;
  line-height: 1.5em;
}

body .page-main .wrap .title p {
  color: #564861;
  margin: 30px 0 20px;
  letter-spacing: 3px;
  font-size: 14px;
  line-height: 1.5em;
}

body .page-main .wrap .title p .place {
  color: #874562;
  font-weight: 900;
}

body .page-main .wrap .title p .phone {
  color: #874562;
}

body .page-main .dance-med {
  font-family: "Italianno", cursive;
  font-weight: bolder;
  font-style: normal;
  font-size: 32px;
  color: #fb6087;
  margin: 16px;
  text-align: center;
}

body .page-main .dance-med img {
  max-width: 250px;
}

@media (max-width: 900px) {
  img {
    max-width: 30%;
  }
  .title {
    margin-top: 1rem;
  }
  .title h1 {
    font-size: 70px;
  }
  .title h3 {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

@-webkit-keyframes fall {
  0% {
    opacity: 0.9;
    top: 0;
  }
  100% {
    opacity: 0.2;
    top: 100%;
  }
}

@keyframes fall {
  0% {
    opacity: 0.9;
    top: 0;
  }
  100% {
    opacity: 0.2;
    top: 100%;
  }
}

@-webkit-keyframes blow-soft-left {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}

@keyframes blow-soft-left {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}

@-webkit-keyframes blow-medium-left {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes blow-medium-left {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@-webkit-keyframes blow-soft-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50%;
  }
}

@keyframes blow-soft-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50%;
  }
}

@-webkit-keyframes blow-medium-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes blow-medium-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
  }
}

@-webkit-keyframes sway-0 {
  0% {
    -webkit-transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(28deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
  }
}

@keyframes sway-0 {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(28deg);
            transform: rotate(28deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@-webkit-keyframes sway-1 {
  0% {
    -webkit-transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(43deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
  }
}

@keyframes sway-1 {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  40% {
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes sway-2 {
  0% {
    -webkit-transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(56deg);
  }
  100% {
    -webkit-transform: rotate(22deg);
  }
}

@keyframes sway-2 {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(56deg);
            transform: rotate(56deg);
  }
  100% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
}

@-webkit-keyframes sway-3 {
  0% {
    -webkit-transform: rotate(25deg);
  }
  40% {
    -webkit-transform: rotate(74deg);
  }
  100% {
    -webkit-transform: rotate(37deg);
  }
}

@keyframes sway-3 {
  0% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  40% {
    -webkit-transform: rotate(74deg);
            transform: rotate(74deg);
  }
  100% {
    -webkit-transform: rotate(37deg);
            transform: rotate(37deg);
  }
}

@-webkit-keyframes sway-4 {
  0% {
    -webkit-transform: rotate(40deg);
  }
  40% {
    -webkit-transform: rotate(68deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
  }
}

@keyframes sway-4 {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  40% {
    -webkit-transform: rotate(68deg);
            transform: rotate(68deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@-webkit-keyframes sway-5 {
  0% {
    -webkit-transform: rotate(50deg);
  }
  40% {
    -webkit-transform: rotate(78deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
  }
}

@keyframes sway-5 {
  0% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
  40% {
    -webkit-transform: rotate(78deg);
            transform: rotate(78deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@-webkit-keyframes sway-6 {
  0% {
    -webkit-transform: rotate(65deg);
  }
  40% {
    -webkit-transform: rotate(92deg);
  }
  100% {
    -webkit-transform: rotate(58deg);
  }
}

@keyframes sway-6 {
  0% {
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
  }
  40% {
    -webkit-transform: rotate(92deg);
            transform: rotate(92deg);
  }
  100% {
    -webkit-transform: rotate(58deg);
            transform: rotate(58deg);
  }
}

@-webkit-keyframes sway-7 {
  0% {
    -webkit-transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(118deg);
  }
  100% {
    -webkit-transform: rotate(68deg);
  }
}

@keyframes sway-7 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(118deg);
            transform: rotate(118deg);
  }
  100% {
    -webkit-transform: rotate(68deg);
            transform: rotate(68deg);
  }
}

@-webkit-keyframes sway-8 {
  0% {
    -webkit-transform: rotate(94deg);
  }
  40% {
    -webkit-transform: rotate(136deg);
  }
  100% {
    -webkit-transform: rotate(82deg);
  }
}

@keyframes sway-8 {
  0% {
    -webkit-transform: rotate(94deg);
            transform: rotate(94deg);
  }
  40% {
    -webkit-transform: rotate(136deg);
            transform: rotate(136deg);
  }
  100% {
    -webkit-transform: rotate(82deg);
            transform: rotate(82deg);
  }
}
/*# sourceMappingURL=style.css.map */