@import "./tool.scss";
@import "./sakura.scss";
body { 
  font-family: "Comfortaa", serif;
  overflow-x: hidden;
  overflow-y: hidden;
  main { 
    display: flex;
    @include mobile {
     flex-direction: column;
    }
    .side-left {
      flex-grow: 1;
      background-image: url("../assets/img/bg.jpg");
     
    }
    .page-main {
      background-color: #fff8f7;
      padding: 20px;
      position: relative;
      width: 39%;
      @include mobile {
        width: 100%;
       }
      top: 0;
      right: 0;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      .top-right-decoration {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        max-width: 250px;
        @include mobile {
          max-width: 30%;
        }
      }
  
      .bottom-left-decoration {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        max-width: 250px;
        @include mobile {
          max-width: 30%;
        }
      }
  
      .wrap {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
       

        .title {
          margin-top: 4rem;
          margin-bottom: 10px;
          @include mobile {
            margin-top: 2rem;
          }
          .title-group {
            position: relative;
            margin: auto;
            h1 {
              font-family: "Italianno", cursive;
              font-weight: bold;
              font-style: normal;
              font-size: 80px;
              margin: 16px 0;
              color: #fb6087;
              line-height: 0.7em;
            }
            h2 {
              font-family: "Italianno", cursive;
              font-weight: bold;
              font-style: normal;
              margin: 0;
              padding: 0;
              font-size: 28px;
              color: #e25c67;
              line-height: 1;
            }
            h3 {
              font-weight: 300;
              text-transform: uppercase;
              letter-spacing: 5px;
              font-size: 22px;
              color: #fb6087;
              margin-top: 5px;
              line-height: 1.5em;
              @include mobile {
                font-size: 16px;
              }
            }
            @include mobile {
              h1 {
                font-size: 45px;
                margin: 8px 0;
              }
              h2 {
                font-size: 16px;
              }
            
            }
           
          }
       
        }
       
      }
      p {
        color: #564861;
        margin: 30px 0 20px;
        letter-spacing: 3px;
        font-size: 14px;
        line-height: 1.5em;
        @include mobile {
          font-size: 12px;
        }
        
      }
      .dance-med {
        padding: 40px;
        font-family: "Italianno", cursive;
        font-weight: bolder;
        font-style: normal;
        font-size: 35px;
        color: #fb6087;
        margin: 16px;
        text-align: center;
        img {
          max-width: 250px;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  
}
