@import "../../styles/_tool.scss";
.invitation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .guest {
    position: absolute;
    font-size: 40px;
    font-family: "Send Flowers", sans-serif;
    top: 389px;
    width: 100%;
    text-align: center;
  }
}
