@import "./styles/_tool.scss";
body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  .menu {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 999;
    .menu-btn {
      img {
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 8px;
        padding: 4px;
      }
      &.active {
        img {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .menu-panel {
      max-height: 0;
      max-width: 0;
      transition: all 0.2s ease-out;
      overflow: hidden;
      padding: 0;
      &.active {
        max-width: 500px;
        max-height: 500px;
        transition: all 0.5s ease-in;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      border-radius: 4px;
      border-top-left-radius: 0;
      background-color: white;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 1rem;
        opacity: 0.8;
        span {
          color: black;
        }
        &:hover {
          opacity: 1;
        }
        img {
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  .music {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 999;
    text-align: right;
    .music-btn {
      img {
        width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 8px;
        padding: 4px;
      }
    }

    .music-panel {
      max-width: 0;
      max-height: 0;
      transition: all 0.2s ease-out;
      overflow: hidden;
      text-align: right;
      padding: 0;
      &.active {
        max-width: 500px;
        max-height: 500px;
        transition: all 0.5s ease-in;
      }
    }
  }
  .action-btn{
    position: absolute;
    display: block;
    padding: 10px;
    background: #4caf50;
    border-radius: 8px;
    bottom: 1rem;
    left: calc(50vw - 5rem);
    width: 10rem;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .left-panel {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    @include desktop-xl {
      width: calc(100vw - 600px);
    }
    @include desktop {
      width: calc(100vw - 600px);
    }
    @include desktop-sm {
      width: calc(100vw - 450px);
    }
    @include tablet {
      position: relative;
    }
    @include mobile {
      position: relative;
    }
  }
  .right-panel {
    @include desktop-xl {
      padding-left: calc(100vw - 600px);
    }
    @include desktop {
      padding-left: calc(100vw - 600px);
    }
    @include desktop-sm {
      padding-left: calc(100vw - 450px);
    }
    @include tablet {
      padding-left: none;
    }
    @include mobile {
      padding-left: none;
    }
    .element {
      &.page1 {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet {
          min-height: 0;
        }
        @include mobile {
          min-height: 0;
        }
      }
      position: relative;
      padding: 1rem;
      &::after {
        content: "";
        height: 1px;
        background-color: #e8e8e8;
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .block-tile {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }
    }
  }
}
 